<div class='container margin-top text-white'>
	<div class="row justify-content-center align-items-center transparent p-5 reveal fadeInLeft" data-delay="300ms">
		<div class="col-md-12 h1 text-center">
			Crear evento
		</div>
		<form class="row g-3" action='/empresa/crear' method='post' enctype="multipart/form-data">
			<div class="col-md-12 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="input" class="form-label">Título</label>
				<input type="text" class="form-control" name="title">
			</div>
			<div class="col-md-4 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="input" class="form-label">País</label>
				<input type="text" class="form-control" name="country" placeholder="España">
			</div>
			<div class="col-md-4 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="input" class="form-label">Ciudad</label>
				<input type="text" class="form-control" name="city" placeholder="Madrid">
			</div>
			<div class="col-md-4 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="input" class="form-label">Número</label>
				<input type="number" class="form-control" name="number">
			</div>
			<div class="col-6 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="inputAddress" class="form-label">Latitud</label>
				<input type="text" class="form-control" name="lat">
			</div>
			<div class="col-6 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="inputAddress" class="form-label">Longitud</label>
				<input type="text" class="form-control" name="lng">
			</div>
			<div class="col-md-6 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="inputCity" class="form-label">Descripción</label>
				<input type="text" class="form-control" name="description">
			</div>

			<div class="col-md-6 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="input" class="form-label">Fecha del evento</label>
				<input type="text" class="form-control" name="date">
			</div>
			<div class="col-md-6 mb-3 ">
				<label for="inputState" class="form-label">Categoria</label> <br>
				<select name="category" class="form-select selectpicker">

					<option>music</option>
					<option>sport</option>
					<option>job</option>
					<option>food</option>
					<option>other</option>
				</select>
			</div>

			<div class="col-md-6 mb-3 reveal fadeInLeft" data-delay="600ms">
				<label for="formFileMultiple" class="form-label">Imagen</label>
				<input class="form-control" type="file" name='event-cover-image' />
			</div>

		</form>
			<div class="col-md-4 my-3 text-center reveal fadeInLeft" data-delay="900ms">
				<button type="submit" class="btn btn-dark">Crear Evento</button>
			</div>

			<div class="col-4 text-center align-items-center reveal fadeInLeft" data-delay="900ms">

				<a class="btn btn-dark" href="/empresa/perfil">Volver</a>
			</div>
	</div>
</div>

<script src="/js/background-texture.js"></script>