<section class='container-fluid section-7'>
	<div class='row justify-content-around align-items-center h-100'>
		<div class='col-md-6 text-center'>
			<form action='/sign-up/rol' method='POST'>
				<button class='btn btn-dark text-center btn-block p-5' name='rol' value='company'>
					Empresa
				</button>
			</form>
		</div>
		<div class='col-md-6 text-center'>
			<form action='/sign-up/rol' method='POST'>
				<button class='btn btn-dark text-center btn-block p-5' name='rol' value='client'>
					Cliente
				</button>
			</form>
		</div>
	</div>
</section>


<script src="../../js/overflow.js"></script>
