<div class='container'>
	<div class='row justify-content-around'>
		<div class='col-md-6 text-center'>
			<form action='/sign-up/rol' method='POST'>
				<button class='btn btn-dark text-center btn-block' name='rol' value='company'>
					Empresa
				</button>

			</form>
		</div>
		<div class='col-md-6 text-center'>
			<form action='/sign-up/rol' method='POST'>

				<button class='btn btn-dark text-center btn-block' name='rol' value='client'>
					Cliente
				</button>
			</form>
		</div>
	</div>
</div>