<div class='container'>
	<div class='row justify-content-center'>
		<div class='col-md-6 text-center'>
			<form action='/sign-up/rol' method='POST'>
				<button
					class='btn btn-dark text-center'
					name='rol'
					value='company'
				>
					Empresa
				</button>
				<button
					class='btn btn-dark text-center'
					name='rol'
					value='client'
				>
					Cliente
				</button>
			</form>
		</div>
	</div>
</div>