<div class="container margin-top">
    <div class="row justify-content-around">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 margin-top">
                    <a href="/admin/usuarios/empresas/eventos" class="btn btn-dark btn-block p-5  reveal fadeInLeft" data-delay="300ms">Gestionar Eventos</a>
                </div>
                <div class="col-md-4 margin-top">
                    <a href="/admin/usuarios/empresas" class="btn btn-dark btn-block p-5  reveal fadeInLeft" data-delay="600ms">Gestionar Empresas</a>
                </div>
                <div class="col-md-4 margin-top">
                    <a href="/admin/usuarios/clientes" class="btn btn-dark btn-block p-5  reveal fadeInLeft" data-delay="900ms">Gestionar Clientes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/background-texture.js"></script>