<section class='container-fluid margin-top-top'>
	<div class='row justify-content-around'>
		<div class="col-md-8">
			<div class="row-column justify-content-center">

				<div class='col-md-12 text-center'>

					<a class="btn btn-dark text-center p-5 btn-block" href="/admin/usuarios/empresas">Ver empresas</a>
				</div>
				<div class='col-md-12 text-center mt-5'>
					<a class="btn btn-dark text-center p-5 btn-block" href="/admin/usuarios/clientes">Ver clientes</a>
				</div>
							<div class='col-md-12 text-center mt-5'>
					<a class="btn btn-dark text-center p-5 btn-block" href="/admin/panel">Volver al Panel</a>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="/js/overflow.js"></script>
<script src="/js/background-texture.js"></script>