<div class="container">
	<h1>Chat</h1>
</div>
<hr>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="container border chat">
				<div class="chat-body">

				</div>
			</div>

			<form id="newMessageForm">
				<label>
					<input name="name" cols="30" rows="10" value="{{this._id}}" hidden></input>
					<input class="input-chat" name="body" rows="5" cols="100"></input>
				</label>
				<input class="btn btn-dark " type="submit" name="body">
			</form>

		</div>
	</div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/chat.js"></script>
