<div class="container">
    <h1>Chat</h1>
</div>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container border chat"></div>
            <form id="newMessageForm">
                <label>
                    <textarea name="textarea" rows="5" cols="100">Write something here</textarea>

                </label>
                <input class="btn btn-dark " type="submit" value="Enviar mensaje">
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/api-handler.js"></script>
<script src="../../js/chat.js"></script>