<div class="container margin-top">
	<div class="row justify-content-center text-white">
		<div class="col-md-8 transparent p-5">
			<h1 class="mb-4">Crear grupo</h1>
			<form action="/user/grupos/crear" method="POST">

				<div class='form-group mb-4'>
					<label for='name'>Nombre del grupo</label>
					<input type='text' class='form-control' id='name' placeholder='Introduce el nombre del grupo'
						name='title' />
				</div>
				Selecciona a los integrantes del grupo
				{{#each friends}}
				<div class='form-check mb-2 mt-2'>
					<input class='form-check-input' type='checkbox' value='{{id}}' id='defaultCheck1' name='users' />
					<label class='form-check-label' for='defaultCheck1'>
						{{name}}
					</label>
				</div>
				{{/each}}

				<button type="submit" class="btn btn-dark btn-block mt-4">Crear Grupo</button>
				<a class="btn btn-dark btn-block mt-4" href="/user/amigos">Volver</a>


			</form>
		</div>
	</div>
</div>

<script src="/js/background-texture.js"></script>