<div class="container margin-top text-white">
	<div class="row justify-content-center">
		<div class="col-md-5 transparent text-white p-5">
		<h1>Tus grupos:</h1>
			<ul class="list-group">
				{{#each groups}}
				<a href="/user/grupos/{{this.id}}" class="text-center my-3 text-white">
					<li class="list-group-item bg-dark">
						{{this.title}}
					</li>
				</a>
				{{/each}}
			</ul>
		</div>
	</div>
</div>

<script src="/js/background-texture.js"></script>