<div class='container'>

	<div class='row justify-content-center'>

		<div>
			<h1 class=''>{{siteTitle}} </h1>
			<a
				href='/auth/google'
				type='button'
				class='m-2 p-3 btn-block btn btn-danger'
			>Iniciar Sesion con Google!</a>

			<br />

			<a
				href='/eventos'
				type='button'
				class='m-2 p-3 btn-block btn btn-dark'
			>
				Ver eventos
			</a>

			<br />
			<a
				href='/user/buscar-usuarios'
				type='button'
				class='m-2 p-3 btn-block btn btn-info'
			>Mi usuario</a>
		</div>
	</div>

</div>