<div class='container h-100'>

	<div class='row justify-content-center align-items-center h-100'>
		<div class="col-md-6 text-center">

			<a href='/sign-up' class='mb-3  btn-block btn-lg pt-3 btn-dark'> Empieza ya! </a>
			<p>¿Tienes cuenta? Pincha <a href="/login">aquí!</a></p>

		</div>
	</div>

</div>