@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
	font-family: 'Ubuntu', sans-serif;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 200vh;
	background: #000;
}

:root {
	--bg: transparent;
	--logo-clr: rgb(117, 117, 117);
	--link-clr: #a8a8a8;
	--padding-y: 20px;
}

a {
	text-decoration: none !important;
}

.titled {
	font-family: 'Kaushan Script', cursive;
}

h1,
h2,
h3 {
	font-family: 'Ubuntu';
}
.myform {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 1.1rem;
	outline: 0;
	max-width: 500px;
}
.tx-tfm {
	text-transform: uppercase;
}
.mybtn {
	border-radius: 50px;
}

.login-or {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.google {
	color: #666;
	width: 100%;
	height: 40px;
	text-align: center;
	outline: none;
	border: 1px solid lightgrey;
}
form .error {
	color: #ff0000;
}

#map {
	height: 300px;

	background-color: #ff0000;
}
.chat {
	height: 600px;
	width: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;

}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: var(--padding-y) 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--bg);
	transition: all 250ms ease-out;
}

.height{
	
	/* background-color: #22dd1b; */
	/* background-image: url("/images/google_logo.png") center 100% 100%; */
	height: 50px;
	width: 100%;
	background: url('/images/google_logo.png')
		center / 100% 100%;
}

.logo {
	font-size: 3rem;
	text-decoration: none;
	font-family: 'Staatliches', cursive;
	color: var(--logo-clr);
}

.nav-list {
	display: flex;
	list-style: none;
}

.nav-item {
	margin: 0 1em;
	font-family: 'Poppins', sans-serif;
}

.chat-body {
	scroll-behavior: smooth;
}

.nav-link {
	text-decoration: none;
	color: var(--link-clr);
}

.navbar.change {
	--padding-y: 5px;
	--bg: #fff;
	--logo-clr: #000;
	--link-clr: #555;
	z-index: 9999;
}

.section-1 {
	height: 100vh;
	width: 100%;
	background: url('../images/samantha-gades-fIHozNWfcvs-unsplash.jpg') center /
		100% 100%;
}

.section-2 {
	height: 100vh;
	width: 100%;
	background: url('../images/nicholas-green-nPz8akkUmDI-unsplash.jpg') center /
		100% 100%;
}

.section-3 {
	height: 100vh;
	width: 100%;
	background: url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80')
		center / 100% 100%;
}

.section-4 {
	height: 100vh;
	width: 100%;
	background: url('https://images.unsplash.com/photo-1515387784663-e2e29a23f69e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80')
		center / 100% 100%;
}
.section-5 {
	height: 100vh;
	width: 100%;
	background: url('https://images.unsplash.com/photo-1562516155-e0c1ee44059b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80')
		center / 100% 100%;
}

.section-6 {
		height: 100vh;
	width: 100%;
	background: url('https://images.unsplash.com/photo-1471958680802-1345a694ba6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80')
		center / 100% 100%;
}

.section-7 {
	height: 100vh;
	width: 100%;
	background: url('https://images.unsplash.com/photo-1596787071320-c06155930dae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80')
		center / 100% 100%;
}
.section-8 {
	/* height: 100vh; */
	width: 100%;
	background: url('https://images.unsplash.com/photo-1592719235009-e497ad008268?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80')
		center / 100% 100%;
	background-repeat: repeat;
}

.text-shadow {
	text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.margin-top {
	margin-top: 180px;
}

.margin-top-top{
	margin-top: 280px;
}

.parallax {
	transition: transform 10s cubic-bezier(0, 1, 0.5, 1);
}

[data-delay='300ms'] {
	transition-delay: 300ms;
}

[data-delay='600ms'] {
	transition-delay: 600ms;
}

[data-delay='900ms'] {
	transition-delay: 900ms;
}

.reveal.fadeInUp {
	opacity: 0;
	transition-property: all;
	transition-duration: 2s;
	transform: translateY(50px);
}

.reveal.fadeInUp.visible {
	transform: translateY(0);
	opacity: 1;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.a-google{
	display: flex;
	justify-content: center;
}

.ico-google{
	width: 15rem;
}

:root {
	--facebook: #3b5999;
	--telegram: #5e40e4;
	--twitter: #55acee;
	--whatsapp: #22dd1b;
}


.reveal.fadeInRight {
	opacity: 0;
	transition-property: all;
	transition-duration: 2s;
	transform: translateX(50px);
}

.reveal.fadeInRight.visible {
	transform: translateX(0);
	opacity: 1;
}

.reveal.fadeInLeft {
	opacity: 0;
	transition-property: all;
	transition-duration: 2s;
	transform: translateX(-500px);
}

.reveal.fadeInLeft.visible {
	transform: translateX(0);
	opacity: 1;
}

.reveal.fadeIn {
	transition-property: opacity;
	transition-duration: 1s;
	opacity: 0;
}

.reveal.fadeIn.visible {
	opacity: 1;
}

/* LOGIN */
.login-dark {
	height: 1000px;
	/* background-size:cover; */
	position: relative;
}

.login-dark form {
	max-width: 320px;
	width: 90%;
	background-color: #1e2833;
	padding: 40px;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
	text-align: center;
	padding: 15px 0 20px;
	font-size: 100px;
	color: #2980ef;
}

.login-dark form .form-control {
	background: none;
	border: none;
	border-bottom: 1px solid #434a52;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
}

.login-dark form .btn-primary {
	background: #214a80;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
	outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
	background: #214a80;
	outline: none;
}

.login-dark form .forgot {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
	opacity: 1;
	text-decoration: none;
}

.login-dark form .btn-primary:active {
	transform: translateY(1px);
}

.navigation {
	z-index: 99999;
}

.login {
	width: 100vw;
	z-index: 1;
}

.overflow-hidden {
	overflow: hidden;
}

.google-icon{
	height: 30px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--facebook: #3b5999;
	--telegram: #5e40e4;
	--twitter: #55acee;
	--whatsapp: #22dd1b;
}

.redes-container {
	display: flex;
	height: 12vh;
	align-items: center;
	justify-content: center;
}

.redes-container ul li{
	display: inline-block;
	margin: 0 5px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.redes-container ul li a{
	display: block;
	padding: 0 10px;
	background:#333;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	box-shadow: 0 3px 5px 0px black;
	transition: .4s;
}

.redes-container ul:hover a{
filter:drop-shadow(0 0 0.25rem rgb(81, 6, 255))
}

.redes-container ul li a:hover {
transform: translateY(-3px) scale(1.05);
}

.background-texture {
	width: 100%;
	background: url('https://images.unsplash.com/photo-1592719235009-e497ad008268?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80')
		center / 100% 100%;
	background-repeat: repeat;
}

.transparent {
	background-color: rgba(0, 0, 0, .6);
}